<h3 class="titulo animate__animated animate__fadeInLeft">Tareas</h3>
<hr />

<!-- Menu Buttons -->
<div class="container-btn animate__animated animate__fadeIn">
  <p class="content-btn">
    <button class="btn btn-select" (click)="alimentacionBtn()" [disabled]="alimentacion">
      Dosificación
    </button>
    <button class="btn btn-select" (click)="pesosBtn()" [disabled]="pesos">Pesos</button>
  </p>
</div>

<div class="container-btn animate__animated animate__fadeIn">
  <div>
    <form [formGroup]="formNombreLote">
      <div class="col-sm-8 col-sm-6 col-xl-3 col-xxl-3">
        <label class="form-label">Lotes</label>
        <select class="form-control selector" formControlName="nombreLote">
          <option value="">-- Seleccione lote --</option>
          <option *ngFor="let lote of lotesNombre" [value]="lote">
            {{ lote }}
          </option>
        </select>
      </div>
    </form>
  </div>
</div>

<div *ngIf="alimentacion " class="animate__animated animate__fadeIn">
  <h3 class="text-center ">Listado de dosificaciones</h3>
  <div class="container-alimentacion">
    <div class="row">
      <h4>{{ lote.nombreLote }}</h4>
      <div *ngIf="dosis.length === 0">
        <h5 class="text-danger animate__animated animate__fadeIn">
          Este lote no contiene registros de dosificación
        </h5>
        <button class="btn btn-register animate__animated animate__fadeIn" (click)="toFormulacion()" >Ir a Formulación</button>
      </div>

      <div *ngIf="lote.vacas?.length === 0" class="mt-3 animate__animated animate__fadeIn">
        <h5 class="text-danger">Este lote no tiene vacas registradas</h5>
        <button class="btn btn-register">Ir a vacas</button>
      </div>

      <div
        class="card-container col-md-6 col-xs-6 col-sm-6 animate__animated animate__fadeIn"
        *ngFor="let dosif of dosis">
        <div class="card-alimentacion col-xs-10 col-sm-10 col-md-10 col-xxl-10">
          <div class="card-content">
            <h2>Alimentación</h2>
            <h5>{{ lote.nombreLote }}</h5>
            <p>Nombre de la dieta: {{ dosif.dieta }} kg</p>
            <p>Peso vivo en Kg: {{ dosif.pesoVivoKg }}</p>
            <p>
              Fecha de inicio:
              <span class="text-valid">{{ dosif.fechaInicio }}</span>
            </p>
            <p>
              Fecha de finalización:
              <span class="text-valid">{{ dosif.fechaFinal }}</span>
            </p>
            <h5>
              <p>
                Costo de alimentacion total:
                <span class="text-valid"> ${{ dosif.costoDosificacion }}</span>
              </p>
            </h5>
            <button class="btn btn-register">Ir a formulación</button>
            <button class="btn btn-eliminar" (click)="deleteDosis(dosif.id!)">Eliminar dosificación</button>
          </div>
        </div>
        <!-- 
        <ng-template #registros>
          <h5 class="text-danger">Este lote no contiene registros de alimentación actualizados</h5>
          <button class="btn btn-register">Ir a alimentacion</button>
        </ng-template> -->
      </div>
    </div>
  </div>
</div>

<div class="container-pesos animate__animated animate__fadeIn" *ngIf="lotes && pesos">
  <h3 class="text-center">Actualizar pesos</h3>
  <div class="card-pesos animate__animated animate__fadeIn">
    <div class="card-container ">
      <div>
        <h5 class="animate__animated animate__fadeIn">{{ lote.nombreLote }}</h5>
        <div *ngIf="vacas.length !== 0; else sinVacas" class="animate__animated animate__fadeIn">
          <div *ngFor="let vaca of vacas">
            <p>Vaca {{ vaca.arete }}:</p>
            <p>
              <span
                [ngClass]="
                  (vaca.id! | actualizarPeso | async) !==
                  'Peso de hoy actualizado'
                    ? 'text-danger'
                    : 'text-valid'
                "
                >{{ vaca.id! | actualizarPeso | async }}
              </span>
              <button
              
                [ngClass]="
                  (vaca.id! | actualizarPeso | async) !==
                  'Peso de hoy actualizado'
                    ? 'btn btn-select toPeso'
                    : 'd-none'
                "
                (click)="actualizar(vaca.id!)"
              >
                Actualizar peso
              </button>
            </p>
            <hr />
          </div>
        </div>

        <ng-template #sinVacas>
          <h5 class="text-danger">Este lote no contiene vacas registradas</h5>
        </ng-template>
      </div>
    </div>
  </div>
</div>

<div class="container-alimentacion" *ngIf="!lotes">
  <h1 class="text-danger">
    Aun no tiene tareas pendientes, registre sus lotes
  </h1>
</div>

<app-snackbar
[showSnackbar]="showSnackbar"
[mensaje]="mensaje"
></app-snackbar>
